.
{
margin:0;
padding:0;
box-sizing:border-box;
font-family:monospace;
}
body
{
display:flex;
justify-content:center;
align-items:left;
min-height:100vh;
background:#c9ffe5 ;
}
.container
{
position:relative;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:10px;
background:#96c8a2;
padding: 10px 60px;
border:2px solid #96c8a2;


}
h1
{
font-size:3em;
color:#fff;
text-transform:uppercase;
}
.reset
{
position: absolute;
padding:15px 20px;
color:#267c65;
background:#fff;
border:none;
text-transform:uppercase;
cursor:pointer;
font-weight:600;
border-radius:4px;
bottom:23px;
letf:50%;
}
.reset:focus
{
color:#fff;
background:#267c65;
}
.game
{
width:432px;
height:440px;
display:flex;
flex-wrap:wrap;
gap:10px;
transform-style:preserve-3d;
perspective:500px;
}
.item
{
position:relative;
width:100px;
height:100px;
display:flex;
justify-content:center;
align-items:center;
font-size:3em;
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
transform:rotateY(180deg);
transition:0.25s;
}
.item.boxopen
{
transform:rotateY(0deg);
}

.item::after
{
content:' ';
position:absolute;
inset:0;
background:#289d7b;
/opacity:0.56;/
transition:0.25s;
transform:rotateY(0deg);
backface-visibility:hidden;
}
.boxopen:after,
.boxMatch:after
{
transform:rotateY(180deg);
}








